<div th:fragment="java-versions" class="java-versions">
    <div class="panel panel-default java-version"
         th:with="javaVersion=${entry.key},
                  pageModules=${entry.value},
                  javaVersionPrefix=${'java-' + javaVersion.toString().replace('.', '-')},
                  javaVersionHeaderId=${javaVersionPrefix + '-header'},
                  javaVersionContentId=${javaVersionPrefix + '-content'}"
         th:attr="id=${javaVersionPrefix + '-panel'}"
         th:each="entry : ${pageModel.modulesPerVersion}">
      <div class="panel-heading"
           th:attr="id=${javaVersionHeaderId}">
        <a class="btn btn-link" data-toggle="collapse" aria-expanded="false" role="button" th:href="${'#' + javaVersionContentId}"
           th:attr="aria-controls=${javaVersionContentId}">
          Java [[${javaVersion}]]
        </a>
      </div>
      <div class="collapse"
           th:attr="id=${javaVersionContentId}, aria-labelledby=${javaVersionHeaderId}">
        <div class="panel-body">
          <div class="panel panel-default java-module"
               th:with="pagePackages=${pageModule.packages},
                        pageModulePrefix=${javaVersionPrefix + '_' + pageModule.name.replace('.', '-')},
                        pageModuleHeaderId=${pageModulePrefix + '-header'},
                        pageModuleContentId=${pageModulePrefix + '-content'}"
               th:attr="id=${pageModulePrefix + '-panel'}, data-filter-value=${pageModule.name}"
              th:each="pageModule : ${pageModules}">
            <div class="panel-heading"
                 th:attr="id=${pageModuleHeaderId}"
                 th:if="${pagePackages.empty}">
              <a class="btn btn-link" th:href="${linkGenerator.generateLink(pageModule)}" rel="external">
                [[${pageModule.name}]]
              </a>
            </div>
            <th:block th:unless="${pagePackages.empty}">
            <div class="panel-heading"
                 th:attr="id=${pageModuleHeaderId}">
              <a class="btn btn-link" data-toggle="collapse" aria-expanded="false" role="button" th:href="${'#' + pageModuleContentId}"
                 th:attr="aria-controls=${pageModuleContentId}">
                [[${pageModule.name}]]
              </a>
            </div>
            <div class="collapse"
                 th:attr="id=${pageModuleContentId}, aria-labelledby=${pageModuleHeaderId}">
              <div class="panel-body">
                <div class="panel panel-default java-package"
                     th:with="pageClasses=${pagePackage.classes},
                              pagePackagePrefix=${pageModulePrefix + '_' + pagePackage.name.replace('.', '-')},
                              pagePackageHeaderId=${pagePackagePrefix + '-header'},
                              pagePackageContentId=${pagePackagePrefix + '-content'}"
                     th:attr="id=${pagePackagePrefix + '-panel'}, data-filter-value=${pagePackage.name}"
                     th:each="pagePackage : ${pagePackages}">
                  <div class="panel-heading"
                       th:attr="id=${pagePackageHeaderId}"
                       th:if="${pageClasses.empty}">
                    <a class="btn btn-link" th:href="${linkGenerator.generateLink(pagePackage)}" rel="external">
                      [[${pagePackage.name}]]
                    </a>
                  </div>
                  <th:block th:unless="${pageClasses.empty}">
                  <div class="panel-heading"
                       th:attr="id=${pagePackageHeaderId}">
                    <a class="btn btn-link" data-toggle="collapse" aria-expanded="false" role="button" th:href="${'#' + pagePackageContentId}"
                       th:attr="aria-controls=${pagePackageContentId}">
                      [[${pagePackage.name}]]
                    </a>
                  </div>
                  <div class="collapse"
                       th:attr="id=${pagePackageContentId}, aria-labelledby=${pagePackageHeaderId}">
                    <div class="panel-body">
                      <div class="panel panel-default java-class"
                           th:with="pageMembers=${pageClass.members},
                                    pageClassPrefix=${pagePackagePrefix + '-' + pageClass.name.replace('.', '-')},
                                    pageClassHeaderId=${pageClassPrefix + '-header'},
                                    pageClassContentId=${pageClassPrefix + '-content'}"
                           th:attr="id=${pageClassPrefix + '-panel'}, data-filter-value=${pagePackage.name + '.' + pageClass.name}"
                           th:each="pageClass : ${pageClasses}">
                        <div class="panel-heading"
                             th:attr="id=${pageClassHeaderId}"
                             th:if="${pageMembers.empty}">
                          <a class="btn btn-link" th:href="${linkGenerator.generateLink(pageClass)}" rel="external">
                            [[${pageClass.name}]]
                          </a>
                        </div>
                        <th:block th:unless="${pageMembers.empty}">
                        <div class="panel-heading"
                             th:attr="id=${pageClassHeaderId}">
                          <a class="btn btn-link" data-toggle="collapse" aria-expanded="false" role="button" th:href="${'#' + pageClassContentId}" 
                             th:attr="aria-controls=${pageClassContentId}">
                            [[${pageClass.name}]]
                          </a>
                        </div>
                        <div class="collapse"
                             th:attr="id=${pageClassContentId}, aria-labelledby=${pageClassHeaderId}">
                          <div class="panel-body">
                            <ul class="list-unstyled">
                              <li class="java-member"
                                  th:each="pageMember : ${pageMembers}">
                                <div class="title">
                                  <a class="btn btn-link" th:href="${linkGenerator.generateLink(pageMember)}" rel="external">
                                    [[${pageMember.signature}]]
                                  </a>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        </th:block>
                      </div>
                    </div>
                  </div>
                  </th:block>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default java-version"
         th:with="javaVersion=${entry.key},
                  pagePackages=${entry.value},
                  javaVersionPrefix=${'java-' + javaVersion.toString().replace('.', '-')},
                  javaVersionHeaderId=${javaVersionPrefix + '-header'},
                  javaVersionContentId=${javaVersionPrefix + '-content'}"
         th:attr="id=${javaVersionPrefix + '-panel'}"
         th:each="entry : ${pageModel.packagesPerVersion}">
      <div class="panel-heading"
           th:attr="id=${javaVersionHeaderId}">
        <a class="btn btn-link" data-toggle="collapse" aria-expanded="false" role="button" th:href="${'#' + javaVersionContentId}"
           th:attr="aria-controls=${javaVersionContentId}">
          Java [[${javaVersion}]]
        </a>
      </div>
      <div class="collapse"
           th:attr="id=${javaVersionContentId}, aria-labelledby=${javaVersionHeaderId}">
        <div class="panel-body">
          <div class="panel panel-default java-package"
               th:with="pageClasses=${pagePackage.classes},
                        pagePackagePrefix=${javaVersionPrefix + '_' + pagePackage.name.replace('.', '-')},
                        pagePackageHeaderId=${pagePackagePrefix + '-header'},
                        pagePackageContentId=${pagePackagePrefix + '-content'}"
               th:attr="id=${pagePackagePrefix + '-panel'}, data-filter-value=${pagePackage.name}"
               th:each="pagePackage : ${pagePackages}">
            <div class="panel-heading"
                 th:attr="id=${pagePackageHeaderId}"
                 th:if="${pageClasses.empty}">
              <a class="btn btn-link" th:href="${linkGenerator.generateLink(pagePackage)}" rel="external">
                [[${pagePackage.name}]]
              </a>
            </div>
            <th:block th:unless="${pageClasses.empty}">
            <div class="panel-heading"
                 th:attr="id=${pagePackageHeaderId}">
              <a class="btn btn-link" data-toggle="collapse" aria-expanded="false" role="button" th:href="${'#' + pagePackageContentId}"
                 th:attr="aria-controls=${pagePackageContentId}">
                [[${pagePackage.name}]]
              </a>
            </div>
            <div class="collapse"
                 th:attr="id=${pagePackageContentId}, aria-labelledby=${pagePackageHeaderId}">
              <div class="panel-body">
                <div class="panel panel-default java-class"
                     th:with="pageMembers=${pageClass.members},
                              pageClassPrefix=${pagePackagePrefix + '-' + pageClass.name.replace('.', '-')},
                              pageClassHeaderId=${pageClassPrefix + '-header'},
                              pageClassContentId=${pageClassPrefix + '-content'}"
                     th:attr="id=${pageClassPrefix + '-panel'}, data-filter-value=${pagePackage.name + '.' + pageClass.name}"
                     th:each="pageClass : ${pageClasses}">
                  <div class="panel-heading"
                       th:attr="id=${pageClassHeaderId}"
                       th:if="${pageMembers.empty}">
                    <a class="btn btn-link" th:href="${linkGenerator.generateLink(pageClass)}" rel="external">
                      [[${pageClass.name}]]
                    </a>
                  </div>
                  <th:block th:unless="${pageMembers.empty}">
                  <div class="panel-heading"
                       th:attr="id=${pageClassHeaderId}">
                    <a class="btn btn-link" data-toggle="collapse" aria-expanded="false" role="button" th:href="${'#' + pageClassContentId}" 
                       th:attr="aria-controls=${pageClassContentId}">
                      [[${pageClass.name}]]
                    </a>
                  </div>
                  <div class="collapse"
                       th:attr="id=${pageClassContentId}, aria-labelledby=${pageClassHeaderId}">
                    <div class="panel-body">
                      <ul class="list-unstyled">
                        <li class="java-member"
                            th:each="pageMember : ${pageMembers}">
                          <div class="title">
                            <a class="btn btn-link" th:href="${linkGenerator.generateLink(pageMember)}" rel="external">
                              [[${pageMember.signature}]]
                            </a>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  </th:block>
                </div>
              </div>
            </div>
            </th:block>
          </div>
        </div>
      </div>
    </div>
  </div>