<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>What's deprecated in Java</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/whats-new.css">
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/whats-new.js"></script>
</head>
<body>
  <th:block th:replace="toolbar-deprecated :: toolbar"></th:block>
  <th:block th:replace="java-versions :: java-versions"></th:block>
  <th:block th:replace="filter-dialog :: dialog"></th:block>
</body>
